@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(107.56deg, #E6FFDA 0%, #DFF0FF 100%);
}

main > form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 34.7%;
    appearance: none;
    border-radius: 50px;
    background-color: #F3F3F3;
    -webkit-appearance: none;
    transform: translate(-50%, -50%);
}

main > form > section.companyInfo {
    width: 40%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
    background: linear-gradient(151.58deg, #FAA0A0 0%, #FACAA0 100%);
}