<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="assets/css/iziToast.min.css">
	<title>Document</title>
</head>
<body>
	<% if (messages.error) { %>
		<script>
			iziToast.show({
				title: "Erreur",
				message: "<%= messages.error %>"
			})
		</script>
	<% } %>	  

	<main>
		<form>
			<section class="companyInfo">
				<img src="./assets/img/logo-white.png" alt="Logo sur fond blanc">
				<h2>Dionysos</h2>
				<h3>Streaming</h3>
			</section>
			<section class="form">
				<h1>Connexion</h1>
				<div>
					<input type="email" id="email_input" placeholder="Adresse mail">
					<div></div>
				</div>
				<div>
					<input type="text" id="username_input" placeholder="Nom d'utilisateur">
					<div></div>
				</div>
				<div>
					<input type="password" id="password_input" placeholder="Mot de passe">
					<div></div>
				</div>
				<button>
					Se connecter
				</button>
			</section>
		</form>
	</main>
	<script src="assets/js/iziToast.min.js"></script>

</body>
</html>