<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="assets/css/iziToast.min.css">
	<title>Document</title>
</head>
<body>
	<% if (messages.error) { %>
		<script>
			iziToast.show({
				title: "Erreur",
				message: "<%= messages.error %>"
			})
		</script>
	<% } %>	  

	<main>
	
	</main>
	<script src="assets/js/iziToast.min.js"></script>

</body>
</html>