<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="assets/css/iziToast.min.css">
	<title>Document</title>
</head>
<body>
	<main>
		<form action="/login" method="POST">
			<section class="companyInfo">
				<img src="./assets/img/logo-white.png" alt="Logo sur fond blanc">
				<h2>Dionysos</h2>
				<h3>Streaming</h3>
			</section>
			<section class="form">
				<h1>Connexion</h1>
				<div>
					<input type="text" name="username" id="username" placeholder="Nom d'utilisateur" required>
					<div></div>
				</div>
				<div>
					<input type="password" name="password" id="password" placeholder="Mot de passe" required>
					<div></div>
				</div>
				<div>
					<p>Mot de passe oublié ? <a href="">Réinitialisez-le !</a></p>
					<p>Pas de compte ? <a href="">Inscrivez-vous !</a></p>
					<br>
				</div>
				<button>
					Se connecter
				</button>
			</section>
		</form>
	</main>
	<script src="assets/js/iziToast.min.js"></script>
	<% if (messages.error) { %>
		<script>
			iziToast.error({
				title: "Erreur",
				message: "<%= messages.error %>"
			})
		</script>
	<% } %>
</body>
</html>