<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="assets/css/iziToast.min.css">
	<title>Document</title>
</head>
<body>
	<% if (messages.error) { %>
		<script>
			iziToast.show({
				title: "Erreur",
				message: "<%= messages.error %>"
			})
		</script>
	<% } %>	  

	<main>
		<form action="/register" method="POST">
			<section class="companyInfo">
				<img src="./assets/img/logo-white.png" alt="Logo sur fond blanc">
				<h2>Dionysos</h2>
				<h3>Streaming</h3>
			</section>
			<section class="form">
				<h1>Inscription</h1>
				<div>
					<input type="email" name="email" id="email" placeholder="Adresse mail" required>
					<div></div>
				</div>
				<div>
					<input type="text" name="username" id="username" placeholder="Nom d'utilisateur" required>
					<div></div>
				</div>
				<div>
					<input type="password" name="password" id="password" placeholder="Mot de passe" required>
					<div></div>
				</div>
				<button type="submit">
					S'inscrire
				</button>
			</section>
		</form>
	</main>
	<script src="assets/js/iziToast.min.js"></script>

</body>
</html>